* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 50%;
    max-width: 500px;
}

header {
    text-align: center;
    background-color: #FFDAB9;
    border-bottom: 4px solid orange;
    padding: 20px;
}

body {
    
    font-family: 'Work Sans';
    background-color: #FFFACD;
    color: #000000
}

h1, h2, h3 {
    font-family: 'Bitcount Grid Double', sans-serif;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    font-weight: 600;
}

#contacto{
     background-color: #FFFACD;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px; 
}

#menu{
    background-color: #FFFACD;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;  
    text-align: center;
}
#opciones-menu{
    background-color: #FFDAB9;
    border: 4px solid orange;
    
}
#combos{
    background-color: #FFD1DC;
    border: 4px solid violet;
}

.tarjeta-gato {
    background-color: #FFD1DC;
    border: 4px solid violet;
    padding: 20px;
    margin-bottom: 20px;
}

