* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitcount', sans-serif;
    background-color: #FFFACD;
    color: #000000
}

h1, h2, h3 {
    font-family: 'Family';
}